{% extends 'base.html' %}


<!-- SENDING STUFF TO GRAPH FROM FLASK

https://stackoverflow.com/questions/48234240/passing-an-array-from-a-flask-view-to-the-javascript-code-of-another-view-->

<title>THIS IS DATA PAGE</title>



{% block DataA %}
  <link href="https://data.jsdelivr.com/v1/package/npm/chart.js/badge)](https://www.jsdelivr.com/package/npm/chart.js">
  <h1>this is data.html page</h1>
  <h2>You searched: {{car}} </h2>
    

  <div class="chart">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
{% endblock DataA %}


</body>


{% block script %}
<link href="https://data.jsdelivr.com/v1/package/npm/chart.js/badge)](https://www.jsdelivr.com/package/npm/chart.js">

    <script>
      var car_results = JSON.parse('{{ car_results|safe }}')
      console.log(car_results)
      

      const ctx = document.getElementById('myChart').getContext('2d');
      let Prices = ['6-2020','12-2020','6-2021'];
      const labels = Prices
      
      const data = {
          labels,
          datasets: [{
              data:[45000,29500,31000],
              label:"Historic Sale Data",
              fill:true,
              backgroundColor: '#8fbc8f',
              borderColor:'#www',
              pointBackgroundColor:'rgb(189,195,199)',
              tension:0.05,
          },
        ],
      };

      const config = {
          type: 'line',
          data: data,
          options: {
              radius: 5,
              hitRadius:10,
              responsive:true,
              scales: {
                  y:{
                      ticks:{
                        //   callback just for attaching '$' to value
                          callback: function(value){
                              return  '$'+ value
                          }
                      }
                  }
              }
          }
      }

      const myChart = new Chart(ctx,config)

    </script>
{% endblock script %}
</html>