{% extends 'base.html' %}


<!-- SENDING STUFF TO GRAPH FROM FLASK

https://stackoverflow.com/questions/48234240/passing-an-array-from-a-flask-view-to-the-javascript-code-of-another-view-->

<title>THIS IS DATA PAGE</title>



{% block DataA %}
  <link href="https://data.jsdelivr.com/v1/package/npm/chart.js/badge)](https://www.jsdelivr.com/package/npm/chart.js">
  <h1>this is data.html page</h1>
  <h2>You searched: {{car}} </h2>
  
{% endblock DataA %}
    

</body>


{% block script %}
<link href="https://data.jsdelivr.com/v1/package/npm/chart.js/badge)](https://www.jsdelivr.com/package/npm/chart.js">

    <script>
      var car_results = JSON.parse('{{ car_results|safe }}')
      console.log(car_results)
      

      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                    datasets: [{
                                        label: 'Sold Prices over time',
                                        data: [23400, 19000, 35000, 51000, 12000, 31000],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                           
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 10
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });


    </script>
{% endblock script %}
</html>