{% extends 'base.html' %}


{% block homeA %}
    

    <div class="container w-50">
        <h2>^^^^^This is coming from home template^^^^</h2>
        <br>
        <div class="jumbotron">
            <h1 class="display-5">Search for a classic</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>Enter Year, Make, and Model for price and sale data of your selected vehicle</p>
        </div>
          
         


          <form class="form-inline" action="/search" method="POST">
            <div class="input-group">
              
              <input class="form-control mr-sm-2"  name="Year" type="search" placeholder="Year" id="Year" aria-label="Search">
              
              <select onchange = "getModelsFromMake()" name="Make"class="form-control mr-sm-2" aria-placeholder="Make" id="Make">
                  <!-- NEED TO MAKE THESE DYNAMIC, FED IN FROM DB
                  https://stackoverflow.com/questions/32019733/getting-value-from-select-tag-using-flask -->
                  <option value="" disable selected>Make</option>
                    {% for i in makes_directory  %}
                      <option>{{i}}</option>
                    {% endfor %}
              </select>
              

              <!-- ADD AUTOCOMPLETE TO MODEL TYPING -->
              <!-- <input class="form-control mr-sm-2"  name="Model" type="search" placeholder="Model" id="Model" aria-label="Search"> -->
              <select name="Model"class="form-control mr-sm-2" aria-placeholder="Model" id="Model">
                  <!-- NEED TO MAKE THESE DYNAMIC, FED IN FROM DB, FILTERED BY YEAR AND MAKE -->
                  <option id="" value="" disable selected>Model</option>
                  <!-- {% for i in models_directory  %}
                    <option>{{i}}</option>
                  {% endfor %} -->
               </select>
              
               <!-- <input class="form-control mr-sm-2"  name="Chassis" type="search" placeholder="Chassis" id="Chassis" aria-label="Search"> -->
               <!-- <select name="Chassis"class="form-control mr-sm-2" aria-placeholder="Chassis" id="Chassis"> -->
                  <!-- NEED TO MAKE THESE DYNAMIC, FED IN FROM DB, FILTERED BY YEAR AND MAKE -->
                  <!-- <option value="" disable selected>Chassis</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
               </select> -->


            </div>
            
            <br>
            <button class="btn btn-success btn-lg" type="submit">Search</button>
            
          </form>

          


{% endblock homeA %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script>

  
// https://stackoverflow.com/questions/11178426/how-can-i-pass-data-from-flask-to-javascript-in-a-template
  const getModelsFromMake = ()=>{

    entered_make = document.querySelector('#Make')
    entered_make_value = entered_make.value
    
    // console.log(entered_make_value)
    get_make_specific_models(entered_make_value)
    
  }

  /* 
  this function recieves the selected make value from the make dropdown
  using the make, we go through all_entries array sent in from flask
  and check if the current element's make matches the target_make
  if it does, we get the model from this element and add it to models array

  The models array holds the models for the selected make
  
  */
  get_make_specific_models=(target_make)=>{
    
    model_dropdown = document.querySelector('#Model')

    // this removes the existing models if any, added from previously selected make.
    while(model_dropdown.firstChild){
        model_dropdown.removeChild(model_dropdown.firstChild)
    }

    // recieving entries from flask 
     all_entries = JSON.parse('{{ all_db_entries_array|safe }}')

    //  array to hold models that have a make matching the target make
     make_specific_models = []
     
     
    //This loop gets targets all elements that have the target make selected by user
    // if an entry has the target make we are looking for, we retrieve the model from this current element
     for(i = 0; i<all_entries.length;i++){
          if (all_entries[i]['make'] == target_make){
            make_specific_models.push(all_entries[i]['model'])
          }
     }
    

    // This loop creates an 'option' element for each model in the models array
    // and appends it the models select dropdown element
    // This loop display the models specific to a make in the dropdown once a make is selected
    for(i=0; i<make_specific_models.length;i++){
      opt = document.createElement("option")
      opt.value = make_specific_models[i]
      opt.textContent = make_specific_models[i]
      model_dropdown.appendChild(opt)
    }


    }
</script>



{% endblock script %}